<div class="overlay hidden">
  <div class="main-content">
    <h3>Estás por dirijirte al formulario de apelación</h3>
    <p>Puedes ingresar una nueva apelación o modificar la apelación que has realizado, por favor indica la opción correcta</p>
    <div class="actions">
      <a href="#" class="mainButton back-confirm">Quiero realizar cambios en la apelación</a>
      <a href="/nueva-apelacion" class="mainButton back-confirm">Quiero realizar una nueva apelación</a>
      <a href="#" class="mainButton back-cancel">No quiero continuar al paso 2</a>
    </div>
  </div>
</div>
<script>
  if ( $('.step-2').length == 0 ) {
    $('back-confirm').remove();
  }
  $('back-confirm').click(() => {
    slideTo(2, 3);
  });
  $('back-cancel').click(() => {
    $('.overlay').addClass('hidden');
  });
</script>
