<div class="main-frame">
    <div id="t1">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis
            tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus
            elit sed risus. Maecenas eget condimentum velit.</p>
    </div>
    <div id="t2">
        <h4><img src="img/thunder.png" alt="">Te va a ayudar a:</h4>
        <ul>
            <li>
                Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                per inceptos himenaeos.
            </li>
            <li>
                Praesent auctor purus luctus enim egestas, ac scelerisque ante pulvinar.
                Donec ut rhoncus ex.
            </li>
            <li>
                Suspendisse ac rhoncus nisl, eu tempor urna.
            </li>
            <li>
                Curabitur vel bibendum lorem. Morbi convallis convallis diam sit amet lacinia.
                Aliquam in elementum tellus.
            </li>
        </ul>
    </div>
    <div id="t3">
        <h4><img src="img/notDo.png" alt="">Lo que no puede hacer:</h4>
        <ul>
            <li>
                Curabitur tempor quis eros tempus lacinia. Nam bibendum pellentesque quam a convallis. Sed ut
                vulputate nisi.
            </li>
            <li>
                Integer in felis sed leo vestibulum venenatis. Suspendisse quis arcu sem.
            </li>
            <li>
                Aenean feugiat ex eu vestibulum vestibulum. Morbi a eleifend magna.
            </li>
        </ul>
    </div>
    <div class="buttonFrame">
        <button id="next">
            Entendido <img src="img/tick.png" alt="">
        </button>
    </div>
</div>
