<div class="step" id="step-1">
  <div class="main-frame">
      <div id="head-img">
          <%= image_tag("paso1-head.png", alt: "Imagen Paso 1") %>
      </div>
      <div id="main-content">
          <h4 id="subtitle">
              Paso 01
          </h4>
          <h2 id="page-title">
              Ingresar Correo
          </h2>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis.
          </p>
          <div id="input-frame">
              <%= form.email_field :email, placeholder: "Correo Electronico" %>
              <p id="suplement">No vamos a compartirlo con nadie, ni enviar spam.</p>
          </div>
          <div id="check-frame">
              <input type="checkbox" id="terms-accept" name="terms" value="True">
              <label for="terms">Acepto los términos y condiciones de uso.</label><br>
          </div>
          <div id="blank"></div>
          <div class="relevant">
              <div id="answerT">
                  <h4><%= image_tag "lamp.png", alt: "" %>¿Para qué necesitan mi correo?</h4>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a,
                  mattis.</p>
          </div>
      </div>
  </div>
</div>
