<div class="step" id="step-2">
  <div class="main-frame">
    <div id="head-img">
        <%= image_tag("paso2-head.png", alt: "Imagen Paso 2") %>
    </div>
    <div id="main-content">
        <h4 id="subtitle">
            Paso 02
        </h4>
        <h2 id="page-title">
            Que pasó?
        </h2>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis.
        </p>
        <div id="select-frame">
            <select id="selection" name="social-media">
                <option value="face">Facebook</option>
                <option value="twit">Twitter</option>
                <option value="insta">Instagram</option>
            </select>
        </div>
        <div id="select-frame">
            <select id="selection" name="country">
                <option value="Uruguay">Uruguay</option>
                <option value="Arg">Argentina</option>
                <option value="Bra">Brasil</option>
            </select>
            <p id="suplement">Por si existen caminos legales locales.</p>
        </div>
        <div id="select-frame">
            <select id="selection" name="motive">
                <option value="mot1">motivo-1</option>
                <option value="mot2">motivo-2</option>
            </select>
            <p id="suplement">No todos los casos posibles se contemplan en esta herramienta</p>
        </div>
        <div id="select-frame">
            <select id="selection" name="infraction-type">
                <option value="type1">Type 1</option>
                <option value="type2">Type 2</option>
            </select>
            <p id="suplement">Seleccionar lo más similar al caso puntual.</p>
        </div>
        <div id="check-frame2">
            <div>
                <input type="checkbox" id="terms-accept" name="terms1" value="True">
                <label for="terms1">Variable especifica 1</label><br>
            </div>
            <div>
                <input type="checkbox" id="terms-accept" name="terms2" value="True">
                <label for="terms2">Variable especifica 2</label><br>
            </div>
        </div>
        <div id="blank"></div>
    </div>
  </div>
</div>
