<div class="step" id="step-5">
  <div class="main-frame">
      <div id="main-content">
          <h4 id="subtitle">
              Paso 05
          </h4>
          <h2 id="page-title">
              Cómo presentar la apelación
          </h2>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis
              tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus
              elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus. Class aptent taciti sociosqu
              ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent auctor purus luctus enim
              egestas, ac scelerisque ante pulvinar. Donec ut rhoncus ex. Suspendisse ac rhoncus nisl, eu tempor urna.
              Curabitur vel bibendum lorem. Morbi convallis convallis diam sit amet lacinia. Aliquam in elementum
              tellus.
          </p>
          <p id="prop">A) Completar tus datos</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis
              tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus
              elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus.</p>
          <p id="prop">B) Cargar imagen de tu documento de identidad</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis
              tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus
              elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus.</p>
          <p id="prop">C) Redactar argumento</p>
          <div id="temp-arg">
              <div class="relevant">
                  <div id="answerT">
                      <h4><img src="img/lamp.png" alt="">Plantilla de texto para tu respuesta</h4>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a,
                      mattis.</p>
              </div>
              <div class="upload-button">
                  <button><img src="img/copy.png" alt="">Copiar a portapapeles</button>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a,
                  mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut
                  interdum tellus elit sed risus. </p>
              <div class="relevant">
                  <div id="answerT">
                      <h4><img src="img/lamp.png" alt="">Plantilla de texto para tu respuesta</h4>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a,
                      mattis.</p>
              </div>
              <div class="upload-button">
                  <button><img src="img/copy.png" alt="">Copiar a portapapeles</button>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a,
                  mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut
                  interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus. Lorem
                  ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis
                  tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum
                  tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus.Lorem ipsum dolor
                  sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed
                  dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed
                  risus. Maecenas eget condimentum velit, sit amet feugiat lectus.</p>
          </div>
          <div id="inner-msg">
              <img src="img/message.png" alt="">
              <p id="ad-text">También la vamos a enviar a tu correo cuando al hacer click para ir al próximo paso.</p>
          </div>
          <div id="next" class="main-button">
              <button>Información para enviar <img src="img/arrowR.png" alt=""></button>
          </div>
      </div>
  </div>
</div>
