<% content_for(:html_title) { 'Apelatrón - Apelación' } %>
<% content_for(:header_title) { '<h2>Apelación</h2>'.html_safe } %>
<% content_for(:header_left) { link_to '<', "/paso/#{(@step.to_i - 1)}/#{@platform.id}/#{@reason.id}/#{@standard.id}?back=1", class: 'btn-back', remote: true } %>
<div id="steps">
  <%= render partial: 'steps' %>
</div>
<script>
  function copy2clip(id) {
    var copyText = document.getElementById(id);
    copyText.select();
    //copyText.setSelectionRange(0, 99999); // For mobile devices
    navigator.clipboard.writeText(copyText.value);
    // Alert the copied text
    jQuery('#message-'+id).removeClass('hidden');
    setTimeout(() => {
      jQuery('#message-'+id).addClass('hidden');
    }, "3000");
  }
  </script>
