.main-content-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  #content-header {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      background-color: #a4ccea;
      background: linear-gradient(180deg, #DFEAFF 13.99%, #E4F4FF 40.78%, #FFFFFF 129.15%);
      padding: 16px 0 32px 0;
      width: 100%;
      overflow: hidden;
  }

  #elipse {
      z-index: 0;
      position: absolute;
      width: 124%;
      height: 140%;
      top: 120px;
      border-radius: 50%;
      background: #FFFFFF;
  }

  .logo {
      display: flex;
  }

  .mainText {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 20px;
      max-width: 768px;
      gap: 16px;
  }

  .mainText #subtitle {
      display: flex;
      height: 14px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #2D3473;
  }

  .mainText #page-title {
      display: flex;
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 800;
      font-size: 32px;
      line-height: 40px;
      color: #2D3473;
      align-self: stretch;
      flex-grow: 0;
      margin: 0;
  }

  hr {
      display: flex;
      background-color: rgb(42, 146, 232);
      font-weight: 800;
      position: relative;
      margin: 0;
      border-block: none;
      height: 2px;
      width: 40px;
  }

  p {
      display: block;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #2C2C2C;
  }
}
.overlay {
  h2 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #2D3473;
    margin: 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  t1 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 16px;
  }

  p {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #2C2C2C;
  }

  #t2 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 16px 8px;
      gap: 16px;
      background: #E4F4FF;
      border-radius: 8px;
  }

  h4 {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #2C2C2C;
      display: flex;
      gap: 8px;
      width: 100%;
      letter-spacing: normal;
      text-transform: none;
      align-items: center;
      margin: 0;
      img {
        width: 12px;
        height: 16px;
      }
  }

  ul {
      display: flex;
      flex-direction: column;
      padding-left: 20px;
      margin: 0;
  }

  li {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #1F1F1F;
      align-self: stretch;
  }

  #t3 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 16px 8px;
      gap: 16px;
      background: #F5F5F5;
      border-radius: 8px;
  }
}
